#root > div > div > div.ui.huge.borderless.fluid.four.item.menu {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
    box-shadow: none;
    border: 0px;
    font-style: italic;

}


#root > div > div > div.ui.huge.borderless.fluid.four.item.menu > a {
    color: #919799;
}


.logo-header-nav {
    color: #4fdcd0 !important;
}

.overall-nav {
    display: none;
}


#nav-logo{
    height: 35px;
    width: 35px;
}

#main-menu{
    border: 0px;
    box-shadow: 0 0 0px 0 rgba(34,36,38,.15);
}


.logo {
    width: 35px;
    height: 35px;
}