.app {
    text-align: center;
  }
  
  .app-intro {
    font-family: sans-serif;
    width: 60%;
  }
  
  

 .container-all > div {
  padding: 5px;
  display: grid;
  text-align: center;
  font-family: 'Baloo Paaji', cursive;  
  font-size: 24px; }
  
 .navbar-header > ul , .navbar-menu-container > ul {
   list-style-type: none;
   padding: 0px;
   margin: 10px;
 }
  .overall-nav {
    margin-bottom: 10px;
  }


.login-link a:hover{
    border-bottom: 2px solid white;
  }
  .navbar-header img {
    height: 30px;
    opacity: 0.7;
  }
  
  .container-all{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
    grid-row-gap: 50px;
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  .action-container {
    margin-top: 30px;
    text-align:center;
  }
  

  .app, body {
    padding: 0px;
    margin: 0px;
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
  .app-header {
    background: #22c1c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* padding-top: 30px;
    margin-top: 20px;
    padding: 10px 20px 0px 20px; */
    color: white;
    text-align: center;
  }
  
  .app-title {
    font-size: 2.5em;
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Paaji', cursive;
   
  
  
  
  
  }

  .login-link > a {
    color: #ffffffc7;
    text-decoration: none;
  }

  .login-link > a:hover{
    color: white;
  }

 
  
  .app-intro {
    font-size: large;
    width: 60%;
    margin: 0 auto;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  
  .account a, .contact a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: white;
  }
  
  .account a:hover, .contact a:hover { color: #777; }
  



  
  
  /*!
   * Font Awesome Free 5.0.9 by @fontawesome - https://fontawesome.com
   * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
   */
  
  
   .sign-up-btn {
    border: 2px solid white;
    padding: 10px 35px;
    background-color: #80808000;
    color: white;
    font-family: 'Baloo Paaji', cursive;
    font-size: 18px;
   }
  
   .sign-up-btn:hover{
     background-color: white;
     color:#22c1c3;;
     
   }
  
   hr {
     color: white;
     background-color: white;
     border: 2px solid white;
     opacity: 0.2;
     margin-bottom: 20px;
   }