/* .test > label {
    text-align: left;
    display: grid;
    font-size: 18px;
    width: 60%;
    padding-left: 10px;
}


.login > div {

    border-bottom: 1px solid #ffffffa3;
    padding: 15px;
}

.expl {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-container, .signup-container {
    width: 70%;
    margin: 0 auto;
}

.api-footer {
    display: none;
} */


#signup-notice {
    margin-bottom: 15px;
    opacity: 0.5;
}


#sm-verify-button{
    background-color: #4fdcd0;;
    color: white;
    opacity: 0.8;
}

#sm-verify-button a {
    color: white;
}

#sm-verify-button:hover {
   opacity: 1;
}